body {
	background: black;
	color: white;
	text-align: center;
	font-size: 72px;
	font-family: UniversRoman;
	cursor: none;
}
body.hd-portrait {
	width: device-width;
	height: device-height;
	overflow: hidden;
}
.header-image {
	width: 95%;
	height: auto;
	padding-bottom: 40px;
}
.section-20 {
	height: auto;
	padding-top: 10px;
	padding-bottom: 100px;
}
.section-40 {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-y: hidden;
}
.event-section {
	display: flex;
	flex-wrap: wrap;
}
.section-header {
	background: #c00;
	font-family: UniversCondensed;
	font-size: 1em;
	padding: 20px;
}
.event-section .section-header {
	align-self: flex-start;
	flex-grow: 1;
}
.event-section .event {
	flex-grow: 1;
	flex-basis: 100%;
}
#clock {
	line-height: 1;
}
.event-detail {
	font-size: 1em;
	line-height: 1.1;
}
.event-title {
	padding-bottom: 20px;
	font-size: 1.5em;
}
